# Python
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
wheels/

# Npm node
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log


